{% extends '_base.html' %}

{% block content %}



{% if allowed_viewer == request.user %}
<h5>{{ allowed_viewer}}, {{ request.user }}</h5>




{% for topic in all_topics %}

{% if topic.is_published %}

<div class="container-md">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><font color="red">{{ topic.title }}</font></h5>
            <p class="card-text">{{ topic.author }}</p>
            <p class="card-text">{{ topic.content|truncatewords:30 }}</p>
            <a href="http://127.0.0.1:8000/blog/topics_by_category/{{ topic.category.title }}" class="btn btn-info">{{ topic.category }}</a>
        </div>
    </div>
</div>
{% endif %}

{% endfor %}

{% endif %}







{% endblock %}