{% extends '_base.html' %}

{% block content %}



    <h3>Is {{ request.user.username }} user authorized? - {{ request.user.is_authenticated }}</h3>

    <h1>{{ greetings }}</h1>

    {% if allowed_viewer == request.user %}
    {% for topic in all_topics %}
    {% if topic.is_published %}
    <div class="card">
        <div class="card-header">
            <a href="/blog/author/{{ topic.author.id }}" class="btn btn-primary">{{ topic.author }}</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ topic.title }}</h5>
            <p class="card-text">{{ topic.content|truncatechars:160 }}</p>
            <a href="#" class="btn btn-primary">Read topic</a>
        </div>
    </div>
    </br>
    {% endif %}
    {% endfor %}




{% endif %}



{% endblock %}